<form action = "/random/results">
<div><label for ="rand_min_input">Minimum</label>
<input id = "rand_min_input" type = "text" placeholder = "E.g. 1.5" name = "user_min"></div>
<div><label for = "rand_max_input">Maximum</label>
<input id = "rand_max_input" type = "text" placeholder = "E.g. 4.5" name = "user_max"></div>
<button>Pick random number</button>
</form>