<form action = "/square_root/results">

<label for = "sqroot">Enter a number</label>
<input id = "sqroot" type = "text" placeholder = "What number do you want to square root?" 
name = "sqroot_input">
<div><button>Calculate square root</button></div>

</form>
