

<form>
<label for = "needs to match">Enter a number</label>
<input id = "needs to match" type = "text" placeholder = "What number do you want to square?" 
name = "shark">

<button>Calculate square</button>

</form>





