

<form action = "/square/results">
<div><label for = "needs to match">Enter a number</label></div>
<div><input id = "needs to match" type = "text" placeholder = "What number do you want to square?" 
name = "shark"></div>

<div><button>Calculate square</button></div>

</form>





